<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html" >
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    
    <title>{% block title %}{% endblock %}</title>

     <body>{% block body %}{% endblock %}</body>
  
   <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img src="http://www.iprosoft.ru/u/222b12ab979485e217f7325ae3d4a26a-1600x589.jpg" width="250" height="100" alt="Логотип"><br><br> 
        <small class="d-block mb-3 text-muted">© 1991-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://kodeksdoc.ru/about/#aboutCompany">О компании</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/about/#aboutHistory">История</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/about/#aboutTeam">Команда</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/about/#aboutContacts">Контакты</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Услуги</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://kodeksdoc.ru/services/introduction/">Внедрение</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/services/training/">Обучение</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/services/support/">Сопровождение и поддержка</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/services/development/">Разработка</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/services/consulting/">Консалтинг</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Решения</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://kodeksdoc.ru/solutions/business/">Для бизнеса</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/solutions/government/">Для государственного сектора</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/solutions/education/">Для образовательных учреждений</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>О системе</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/architecture/">Архитектура</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/capability/">Возможности</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/documentation/">Документация</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/advantages/">Преимущества</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/examples/">Наши проекты</a></li>
          <li><a class="text-muted" href="http://kodeksdoc.ru/system/buy/">Купить</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  </tbody>
  </table>
  
  </body>
<html>
