{% extends 'base.html' %}

{% block title %}
Тайный санта
{% endblock %}

{% block body %}
<div class="container">
    <form action="/" method="post">
  <p><img src="https://pbs.twimg.com/media/Dsxch8CU4AAwE_s.jpg:large" width="250" height="200" alt="Логотип"></p>
  <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

  <input type="text" name="name" id="name" class="form-control" placeholder="Имя" required="" autofocus="">
  <input type="text" name="surname" id="surname" class="form-control" placeholder="Фамилия" required="">
  <input type="text" name="room" id="room" class="form-control" placeholder="Номер кабинета" required="">
        <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="" autofocus="">

  <input type="submit"  class="btn btn-success" value="Зарегистрироваться">

</form>
</div>
{% endblock %}



